* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

nav ul {
    background-color: gray;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}

nav li:hover {
    background-color: black;
}